<%- include('../layout/start', { title }) %>

<div class="container">
	<div class="row justify-content-center align-items-center vh-100">
		<div class="col-4">
			<div class="card p-0 mx-auto" style="width: 18rem">
				<img
					src="/static/images/<%= book.fileBook %>"
					class="card-img-top"
					alt="Image"
				/>
				<div class="card-body">
					<h5 class="card-title"><%= book.title %></h5>
					<p class="card-text">
						<%= book.description %> <% if (book.favorite) { %>
						<small class="text-secondary d-block"
							><i>Книга добавлена в "Любимые"</i></small
						>
						<% } %>
					</p>
					<a
						href="/api/user/books/update/<%= book.id %>"
						class="btn btn-primary mx-auto d-block"
						>Редактировать</a
					>
					<a
						href="/api/user/books"
						class="btn btn-primary mx-auto d-block mt-2"
						>Вернуться назад</a
					>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('../layout/end') %>
